body{
  background-color: beige;
}
img{
  border-color: black;
  border-style: solid;
}
hr{
  border-color: black;
  border-style: dashed none none;
  border-width: 2px;

}
h1{
  font-size: 100px;
  color: seagreen;
}

h2{
  color: grey;
  font-size: 30px;
}
li{
  color: blue;
}
p{
  color: seagreen;
}
td{
  color: orange;
}
#intro{
  font-size: 25px;
}
.text{
  font-size: 20px;
}
